.aspect-ratio-16x9 {
  aspect-ratio: 16/9;
}

.aspect-ratio-4x3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

.p-0 {
  padding: 0 !important;
}

.p-3 {
  padding: 1.5rem !important;
}

.p-4 {
  padding: 2.25rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-2 {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.px-3 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-4 {
  padding-right: 2.25rem !important;
  padding-left: 2.25rem !important;
}

.py-2 {
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
}

.py-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-4 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.py-5 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pt-4 {
  padding-top: 2.25rem !important;
}

.pt-5 {
  padding-top: 4.5rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pb-5 {
  padding-bottom: 4.5rem !important;
}

.ps-2 {
  padding-left: .75rem !important;
}

.ps-3 {
  padding-left: 1.5rem !important;
}

@media (min-width: 576px) {
  .p-sm-5 {
    padding: 4.5rem !important;
  }
}

@media (min-width: 576px) {
  .px-sm-5 {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
  }
}

@media (min-width: 992px) {
  .p-lg-4 {
    padding: 2.25rem !important;
  }
}

@media (min-width: 992px) {
  .px-lg-3 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-1 {
    padding-top: .375rem !important;
    padding-bottom: .375rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-2 {
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-4 {
    padding-top: 2.25rem !important;
    padding-bottom: 2.25rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-5 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

@media (min-width: 992px) {
  .pt-lg-0 {
    padding-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .pe-lg-4 {
    padding-right: 2.25rem !important;
  }
}

@media (min-width: 992px) {
  .ps-lg-5 {
    padding-left: 4.5rem !important;
  }
}

@media (min-width: 1200px) {
  .px-xl-5 {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
  }
}

@media (min-width: 1200px) {
  .px-xl-7 {
    padding-left: 7.5rem !important;
    padding-right: 7.5rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

@media (min-width: 1200px) {
  .pt-xl-5 {
    padding-top: 4.5rem !important;
  }
}

@media (min-width: 1400px) {
  .ps-xxl-3 {
    padding-left: 1.5rem !important;
  }
}

.swiper-vertical {
  max-height: 100vh;
}

.swiper-nav-standalone .swiper-button-prev, .swiper-nav-standalone .swiper-button-next {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.swiper-nav-standalone .swiper-button-prev:after, .swiper-nav-standalone .swiper-button-next:after {
  content: "";
}

.swiper-nav-custom .swiper-button-prev:after, .swiper-nav-custom .swiper-button-next:after {
  content: "";
}

